body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
}

header{
	border-bottom: 1px solid #000;
	text-align: center;
  padding-bottom: 25px;
	#logo{
    padding-top: 20px;
  }
}

.page-loader {
	text-align: center;
}
